@charset "UTF-8";
/*play*/
#play h1{width: 24%;text-align: center;line-height: 0.6rem;background: #fff;z-index: 9999999;}
#play .h1on{border-bottom: 0.02rem solid #09c;color:#09c;}
#play .play_item{width: 49.4%;display: inline-block;}
#play .play_item:last-child{margin-bottom: 0.98rem;}
#play .play_item .bbc1 img{height: 2.22rem;width: 100%;}
.progress_out{width: 2.5rem;height: 0.1rem;background: #ccc;border-radius: 0.1rem;}
.progress_int{width: 1.25rem;height: 0.1rem;position: absolute;margin-top: 0}
.inform_txt{top: -0.03rem!important}
/*play_main*/
#play_main .h390{height: 3.9rem;}
#play_main .play_main_now{width: 0.8rem;line-height: 0.3rem;background: #c33;border-radius: 0.1rem;text-align: center}
#play_main .glory_item_btn{width: 1rem;line-height: 0.36rem;background: #09c;text-align: center;}
#play_main .glory_item>div{width: 30%;}
.ml51{margin-left: 0.51rem;}
#play_main .glory_main{width: 1.95rem;line-height: 0.4rem;border-radius: 0.4rem;background: #999;margin-left: -0.3rem;}
#play_main footer button{color: #c33;text-align: center;line-height: 0.98rem;}
#play_main .play_main_shadeall{position: fixed;bottom: 0;z-index: 1111;width: 100%;}
#play_main .dec{width: 0.68rem;height: 0.68rem;border-radius: 0.1rem 0 0 0.1rem;border: 0.02rem solid #999;font-size: 0.4rem}
#play_main .add{width: 0.68rem;height: 0.68rem;border-radius: 0 0.1rem 0.1rem 0;border: 0.02rem solid #999;font-size: 0.4rem;margin-left: -0.1rem;}
#play_main .number{width: 4.04rem;height: 0.65rem;background: #fff;text-align: center;border-top: 0.02rem solid #999;border-bottom: 0.02rem solid #999;margin-left:-0.1rem;}
#play_main .play_main_addnum div{width: 1.1rem;line-height: 0.5rem;text-align: center;border: 0.02rem solid #ccc;border-radius: 0.1rem;margin-left: 0.1rem;margin-right: 0.1rem; }
#play_main .play_main_shadeall button{background: #c33;text-align: center;line-height: 0.98rem;width: 100%}
#play_affirm footer{line-height: 0.98rem;}
#play_affirm footer p:last-child{width: 2.2rem;line-height: 0.6rem;background: #c33;text-align: center;border-radius: 0.1rem;}
/*play_mainnow*/
.play_mainnow_time{width: 6.4rem;line-height: 0.6rem;text-align: center;background: #D74451;}
.ml25{margin-left: 0.25rem;}
/*play_mainafter*/
.play_mainafter{background: url(../images/play/gnfgm.png) no-repeat;background-size: 20%;}